<!-- Usa un base.html con las estructuras comunes (navbar, pie de página, etc.) -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="{{url_for('static', filename='img/logo_marathon_M.png')}}"
      type="image/x-icon"
    />
    <title>{%block title%}Sistema Conversor{%endblock%}</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img
            src="{{url_for('static', filename='img/logo_marathon_M.png')}}"
            alt="Logo"
            width="30"
            height="24"
            class="d-inline-block align-text-top"
          />
          Sistema Conversor de Archivos
        </a>
      </div>
    </nav>

    <main class="container mt-4">
      {% block content %}
      <!-- Aquí se incluirá contenido específico de cada página -->
      {% endblock %}
    </main>

    <footer class="app-footer text-center">
      <div class="container">
        <img
          src="{{url_for('static', filename='img/logo_marathon.png')}}"
          width="80"
          height="40"
          alt="Logo Marathon"
          class="footer-img"
        />
        <p class="footer-text">
          Creado por &copy; {{ current_year }} Marathon Deportes<br /> 
          Todos los derechos reservados
        </p>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
