{% extends "base.html" %} {% block content %}
<div class="container mb-5">
  <h1 class="text-center text-light mt-5">Selecciona el proveedor</h1>
  <div class="row mt-4 justify-content-center">
    {% for provider, config in providers.items() %}
    <div class="col-md-4 col-sm-6 d-flex justify-content-center mb-4">
      <a href="{{ url_for('handle_provider', provider=provider) }}">
        <div class="card text-center">
          <img
            src="{{ url_for('static', filename=config['logo']) }}"
            class="card-img-top"
            alt="{{ provider }}"
          />
          <div class="card-body">
            <h5 class="card-title">{{ provider.capitalize() }}</h5>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
