{% extends "base.html" %} {% block title %}{{ config['title'] }}{% endblock %}
{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="card card-size">
    <div class="card-body text-center">
      <h1 class="card-title mb-4">{{ config['title'] }}</h1>
      <img
        src="{{ url_for('static', filename=config['logo']) }}"
        alt="Logo {{ provider }}"
        class="img-fluid size-img mb-4"
      />
      <img
        src="{{ url_for('static', filename='img/logo_marathon.png') }}"
        alt="Logo Marathon"
        class="img-fluid size-img mb-4 mx-2"
      />

      {% with messages = get_flashed_messages() %} {% if messages %}
      <div class="alert alert-warning" role="alert">{{ messages[0] }}</div>
      {% endif %} {% endwith %} 
      {% if request.args.get("filename") %}
      <script>
          window.onload = function() {
              window.location.href = "{{ url_for('download_file', filename=request.args.get('filename')) }}";
          };
      </script>
      {% endif %}
      
      <form
        action="{{ url_for('handle_provider', provider=provider) }}"
        method="post"
        enctype="multipart/form-data"
      >
        <div class="form-group">
          <label for="file">{{ config['label'] }}</label>
          <div class="d-flex justify-content-center">
            <input
              type="file"
              class="form-control-file w-75"
              id="file"
              name="file"
              required
            />
          </div>
        </div>
        <button type="submit" class="btn btn-success w-75">Transformar</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
