<!-- {% extends "base.html"%} {%block title%}Topper-Conversor{%endblock%} {%block
content%}
<body class="d-flex justify-content-center align-items-center vh-100">
  <div class="card card-size">
    <div class="card-body text-center">
      <h1 class="card-title mb-4">Conversor de TXT a CSV</h1>
      <img
        src="{{url_for('static', filename='img/logo_topper.png')}}"
        alt="Logo Topper"
        class="img-fluid size-img mb-4"
      />
      <img
        src="{{url_for('static', filename='img/logo_marathon.png')}}"
        alt="Logo Marathon"
        class="img-fluid size-img mb-4 mx-2"
      />

      {% with messages = get_flashed_messages() %} {% if messages %}
      <div class="alert alert-warning" role="alert">{{ messages[0] }}</div>
      {% endif %} {% endwith %}

      <form
        action="{{ url_for('handle_provider', provider='topper') }}"
        method="post"
        enctype="multipart/form-data"
      >
        <div class="form-group">
          <label for="file">Subir archivo .txt</label>
          Contenedor centrado con un ancho fijo
          <div class="d-flex justify-content-center">
            <input type="file" class="form-control-file w-75 id="file"
            name="file" required>
          </div>
        </div>
        <button type="submit" class="btn btn-success w-75">Transformar</button>
      </form>
    </div>
  </div>
  {%endblock%}
</body> -->
